In [37]:
%load_ext autoreload
%autoreload 2

%matplotlib inline
%reload_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [39]:
from src.utils import *
from src.cleaning import *

In [40]:
from pylab import rcParams
rcParams['figure.figsize'] = 15, 10

In [41]:
df_riders = pd.read_csv("data/Riders.csv")
df_sample_submission = pd.read_csv("data/SampleSubmission.csv")
df_test = pd.read_csv("data/Test.csv")
df_train = pd.read_csv("data/Train.csv")
df_variable_definitions = pd.read_csv("data/VariableDefinitions.csv")

In [42]:
df_test['orders'] = df_test['Order No'].str.split('_').str[-1].astype(int)

In [43]:
df_test.sort_values(by=['orders'])

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Pickup - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,orders
786,Order_No_0,User_Id_1085,Bike,3,Business,26,2,1:47:47 PM,26,2,...,2:20:40 PM,8,31.0,NaN,-1.301908,36.759282,-1.316539,36.706856,Rider_Id_678,0
2570,Order_No_5,User_Id_1710,Bike,3,Personal,19,6,10:30:13 AM,19,6,...,10:47:38 AM,4,25.3,NaN,-1.296310,36.768822,-1.294436,36.798342,Rider_Id_45,5
6883,Order_No_11,User_Id_3400,Bike,1,Personal,20,5,11:38:21 AM,20,5,...,12:07:55 PM,6,18.5,NaN,-1.289192,36.825189,-1.308378,36.859008,Rider_Id_546,11
6200,Order_No_13,User_Id_2733,Bike,3,Business,11,4,5:14:02 PM,11,4,...,5:20:50 PM,1,26.6,NaN,-1.295571,36.782114,-1.296310,36.768822,Rider_Id_348,13
3458,Order_No_14,User_Id_2575,Bike,2,Personal,26,6,11:16:30 AM,26,6,...,11:37:02 AM,18,22.5,NaN,-1.286990,36.829735,-1.185866,36.928871,Rider_Id_100,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,Order_No_28256,User_Id_1246,Bike,3,Business,14,1,2:37:31 PM,14,1,...,3:05:01 PM,9,26.0,NaN,-1.257147,36.795063,-1.310878,36.839273,Rider_Id_26,28256
4122,Order_No_28257,User_Id_1825,Bike,1,Personal,16,3,2:18:00 PM,16,3,...,2:40:07 PM,8,25.5,NaN,-1.301628,36.805522,-1.260972,36.848081,Rider_Id_101,28257
5575,Order_No_28258,User_Id_510,Bike,3,Business,22,5,1:43:52 PM,22,5,...,2:13:27 PM,12,27.1,NaN,-1.286018,36.897534,-1.323921,36.870766,Rider_Id_856,28258
3895,Order_No_28260,User_Id_391,Bike,3,Business,25,1,12:50:38 PM,25,1,...,1:21:44 PM,5,27.2,NaN,-1.300921,36.828195,-1.278406,36.822293,Rider_Id_448,28260
6461,Order_No_28265,User_Id_3295,Bike,3,Business,2,5,1:24:25 PM,2,5,...,1:45:56 PM,12,25.2,NaN,-1.257147,36.795063,-1.240935,36.874305,Rider_Id_770,28265

In [44]:
df_train['orders'] = df_train['Order No'].str.split('_').str[-1].astype(int)

In [45]:
df = combine_train_test(df_train, df_test, df_riders, disjoint_cols)

In [46]:
display_all(df.head(50))

,Arrival at Pickup - Day of Month,Arrival at Pickup - Time,Arrival at Pickup - Weekday (Mo = 1),Confirmation - Day of Month,Confirmation - Time,Confirmation - Weekday (Mo = 1),Destination Lat,Destination Long,Distance (KM),Order No,Personal or Business,Pickup - Day of Month,Pickup - Time,Pickup - Weekday (Mo = 1),Pickup Lat,Pickup Long,Placement - Day of Month,Placement - Time,Placement - Weekday (Mo = 1),Platform Type,Precipitation in millimeters,Temperature,Time from Pickup to Arrival,User Id,Vehicle Type,col_type,orders,No_Of_Orders,Age,Average_Rating,No_of_Ratings
21987,26,2:18:16 PM,2,26,1:55:41 PM,2,-1.316539,36.706856,8,Order_No_0,Business,26,2:20:40 PM,2,-1.301908,36.759282,26.0,1:47:47 PM,2.0,3,NaN,31.0,NaN,User_Id_1085,Bike,test,0,292,349,15.0,39
6831,9,12:15:06 PM,2,9,12:12:24 PM,2,-1.265971,36.766806,4,Order_No_1,Personal,9,12:20:43 PM,2,-1.274173,36.796911,NaN,NaN,NaN,1,NaN,21.8,729.0,NaN,NaN,train,1,1043,771,14.1,76
720,18,10:12:28 AM,4,18,10:09:50 AM,4,-1.388201,36.769945,16,Order_No_2,Business,18,10:51:52 AM,4,-1.300921,36.828195,NaN,NaN,NaN,3,NaN,NaN,1923.0,NaN,NaN,train,2,4671,941,14.1,973
18360,29,3:51:52 PM,3,29,3:16:26 PM,3,-1.283333,36.826008,4,Order_No_3,Business,29,3:53:37 PM,3,-1.260234,36.799055,NaN,NaN,NaN,3,NaN,20.9,2186.0,NaN,NaN,train,3,3427,2385,14.2,1010
694,12,3:18:55 PM,2,12,2:59:22 PM,2,-1.285565,36.824483,5,Order_No_4,Personal,12,3:52:51 PM,2,-1.301607,36.840449,NaN,NaN,NaN,3,NaN,NaN,1688.0,NaN,NaN,train,4,34,291,15.0,5
23771,19,10:32:08 AM,6,19,10:30:24 AM,6,-1.294436,36.798342,4,Order_No_5,Personal,19,10:47:38 AM,6,-1.296310,36.768822,19.0,10:30:13 AM,6.0,3,NaN,25.3,NaN,User_Id_1710,Bike,test,5,1988,972,14.3,358
20620,3,3:43:04 PM,5,3,3:29:21 PM,5,-1.299820,36.764400,4,Order_No_6,Personal,3,4:03:58 PM,5,-1.300391,36.734016,NaN,NaN,NaN,1,NaN,25.0,507.0,NaN,NaN,train,6,106,827,13.7,37
11872,27,9:47:43 AM,4,27,9:36:02 AM,4,-1.229662,36.843827,8,Order_No_7,Business,27,9:53:17 AM,4,-1.272828,36.816608,NaN,NaN,NaN,3,3.0,18.6,771.0,NaN,NaN,train,7,730,740,13.8,71
2745,15,1:30:22 PM,1,15,1:15:42 PM,1,-1.298733,36.846335,17,Order_No_8,Business,15,1:39:06 PM,1,-1.213287,36.867827,NaN,NaN,NaN,3,NaN,NaN,1959.0,NaN,NaN,train,8,497,341,14.1,103
5234,17,1:13:26 PM,1,17,1:13:00 PM,1,-1.265715,36.823815,10,Order_No_9,Business,17,1:58:13 PM,1,-1.228911,36.881876,NaN,NaN,NaN,3,NaN,24.8,780.0,NaN,NaN,train,9,5421,2059,13.6,1288
11976,24,11:48:22 AM,5,24,11:40:55 AM,5,-1.280848,36.800369,4,Order_No_10,Personal,24,11:57:03 AM,5,-1.293870,36.790781,NaN,NaN,NaN,1,NaN,20.8,773.0,NaN,NaN,train,10,2178,1010,14.1,746
28084,20,11:52:27 AM,5,20,11:52:09 AM,5,-1.308378,36.859008,6,Order_No_11,Personal,20,12:07:55 PM,5,-1.289192,36.825189,20.0,11:38:21 AM,5.0,1,NaN,18.5,NaN,User_Id_3400,Bike,test,11,2848,2272,13.9,1053
14795,16,11:42:45 AM,3,16,11:27:53 AM,3,-1.250292,36.788757,6,Order_No_12,Personal,16,11:49:23 AM,3,-1.287501,36.817179,NaN,NaN,NaN,2,NaN,24.0,1718.0,NaN,NaN,train,12,551,1065,13.2,176
27401,11,5:19:45 PM,4,11,5:14:13 PM,4,-1.296310,36.768822,1,Order_No_13,Business,11,5:20:50 PM,4,-1.295571,36.782114,11.0,5:14:02 PM,4.0,3,NaN,26.6,NaN,User_Id_2733,Bike,test,13,3074,2166,13.8,894
24659,26,11:23:13 AM,6,26,11:17:19 AM,6,-1.185866,36.928871,18,Order_No_14,Personal,26,11:37:02 AM,6,-1.286990,36.829735,26.0,11:16:30 AM,6.0,2,NaN,22.5,NaN,User_Id_2575,Bike,test,14,362,910,13.4,109
27710,15,3:21:18 PM,4,15,2:35:35 PM,4,-1.262847,36.781805,7,Order_No_15,Business,15,3:32:51 PM,4,-1.303596,36.778378,15.0,2:10:12 PM,4.0,3,NaN,27.3,NaN,User_Id_3283,Bike,test,15,1337,875,14.2,243
12715,5,12:13:49 PM,2,5,12:13:37 PM,2,-1.267659,36.810394,3,Order_No_16,Business,5,12:31:54 PM,2,-1.288780,36.816831,NaN,NaN,NaN,3,NaN,23.8,8.0,NaN,NaN,train,16,2087,2411,12.9,371
18858,9,1:58:35 PM,3,9,1:50:30 PM,3,-1.248084,36.659622,25,Order_No_17,Personal,9,2:01:42 PM,3,-1.285707,36.822586,NaN,NaN,NaN,1,NaN,23.3,2920.0,NaN,NaN,train,17,593,966,14.3,237
12600,11,11:22:04 AM,4,11,11:17:07 AM,4,-1.294290,36.802053,8,Order_No_18,Business,11,11:29:04 AM,4,-1.249593,36.806509,NaN,NaN,NaN,3,NaN,25.4,1239.0,NaN,NaN,train,18,1275,497,14.8,119
24852,9,11:57:42 AM,3,9,11:51:07 AM,3,-1.277071,36.823109,5,Order_No_19,Business,9,12:22:46 PM,3,-1.300406,36.829741,9.0,11:49:53 AM,3.0,3,NaN,25.1,NaN,User_Id_53,Bike,test,19,637,1069,13.8,45
18386,3,3:03:27 PM,4,3,2:48:10 PM,4,-1.228583,36.882647,3,Order_No_20,Business,3,3:08:17 PM,4,-1.215601,36.891686,NaN,NaN,NaN,3,NaN,26.1,659.0,NaN,NaN,train,20,1830,585,13.7,321
28226,10,1:02:45 PM,2,10,12:56:23 PM,2,-1.261589,36.792873,8,Order_No_21,Personal,10,1:22:29 PM,2,-1.297003,36.833321,10.0,12:54:04 PM,2.0,1,NaN,20.2,NaN,User_Id_2334,Bike,test,21,3556,2263,14.2,881
21477,19,11:01:23 AM,5,19,10:45:00 AM,5,-1.264608,36.802864,17,Order_No_22,Business,19,11:26:05 AM,5,-1.346304,36.768164,19.0,10:44:50 AM,5.0,3,NaN,24.7,NaN,User_Id_1809,Bike,test,22,1337,875,14.2,243
1907,11,6:06:57 PM,2,11,5:57:06 PM,2,-1.288780,36.816831,10,Order_No_23,Business,11,6:13:17 PM,2,-1.225322,36.808550,NaN,NaN,NaN,3,NaN,21.1,3666.0,NaN,NaN,train,23,70,495,15.0,6
10762,15,3:31:52 PM,1,15,3:26:34 PM,1,-1.307787,36.844321,16,Order_No_24,Business,15,4:04:29 PM,1,-1.299144,36.752880,NaN,NaN,NaN,3,NaN,NaN,1924.0,NaN,NaN,train,24,117,278,14.4,18
2053,22,1:05:03 PM,1,22,12:54:50 PM,1,-1.294156,36.779201,5,Order_No_25,Business,22,1:15:15 PM,1,-1.272639,36.794723,NaN,NaN,NaN,3,NaN,24.7,1106.0,NaN,NaN,train,25,635,674,12.0,35
25676,22,4:39:35 PM,3,22,4:32:47 PM,3,-1.263818,36.793006,11,Order_No_26,Business,22,4:41:13 PM,3,-1.307787,36.844321,22.0,4:32:30 PM,3.0,3,NaN,24.0,NaN,User_Id_1500,Bike,test,26,455,152,13.6,51
10270,26,12:47:43 PM,3,26,12:36:04 PM,3,-1.327035,36.866736,11,Order_No_27,Personal,26,12:55:28 PM,3,-1.266273,36.815126,NaN,NaN,NaN,1,NaN,24.0,3473.0,NaN,NaN,train,27,4345,1887,14.2,986
17554,13,5:08:41 PM,3,13,5:05:21 PM,3,-1.298817,36.819857,10,Order_No_28,Personal,13,5:21:34 PM,3,-1.255956,36.772901,NaN,NaN,NaN,1,NaN,21.8,2142.0,NaN,NaN,train,28,370,1514,13.5,121
13144,6,2:39:49 PM,3,6,2:15:59 PM,3,-1.269691,36.815190,17,Order_No_29,Business,6,2:54:12 PM,3,-1.323440,36.708763,NaN,NaN,NaN,3,NaN,NaN,2254.0,NaN,NaN,train,29,13,300,0.0,0
16049,7,2:31:29 PM,2,7,2:24:33 PM,2,-1.257147,36.795063,23,Order_No_30,Business,7,2:37:30 PM,2,-1.370038,36.919017,NaN,NaN,NaN,3,NaN,NaN,3832.0,NaN,NaN,train,30,7921,2591,13.8,1364
2512,20,2:46:17 PM,4,20,2:42:06 PM,4,-1.304616,36.765857,10,Order_No_31,Business,20,2:52:28 PM,4,-1.255189,36.782203,NaN,NaN,NaN,3,NaN,28.1,1466.0,NaN,NaN,train,31,1415,1516,13.5,519
13431,16,3:49:11 PM,3,16,3:32:52 PM,3,-1.322859,36.846288,14,Order_No_32,Personal,16,3:58:30 PM,3,-1.226191,36.836812,NaN,NaN,NaN,1,NaN,25.3,2027.0,NaN,NaN,train,32,2087,1019,13.7,362
19822,15,8:18:11 AM,5,15,8:18:09 AM,5,-1.263818,36.793006,8,Order_No_33,Business,15,8:20:43 AM,5,-1.300406,36.829741,NaN,NaN,NaN,3,NaN,19.4,1895.0,NaN,NaN,train,33,6978,1990,13.3,413
10312,30,2:26:09 PM,2,30,2:05:23 PM,2,-1.304866,36.853575,5,Order_No_34,Business,30,2:36:16 PM,2,-1.332311,36.869262,NaN,NaN,NaN,3,NaN,27.5,1125.0,NaN,NaN,train,34,925,550,14.5,73
3730,8,2:10:35 PM,3,8,1:27:56 PM,3,-1.282755,36.793613,7,Order_No_35,Business,8,2:20:26 PM,3,-1.267427,36.787083,NaN,NaN,NaN,3,NaN,NaN,1090.0,NaN,NaN,train,35,510,198,14.3,56
8117,13,12:28:37 PM,6,13,12:23:29 PM,6,-1.275612,36.763798,7,Order_No_36,Business,13,12:31:11 PM,6,-1.273056,36.811298,NaN,NaN,NaN,3,NaN,26.1,1284.0,NaN,NaN,train,36,1062,573,13.2,100
14040,6,4:54:03 PM,1,6,4:53:38 PM,1,-1.270340,36.747764,11,Order_No_37,Personal,6,5:14:57 PM,1,-1.270054,36.815164,NaN,NaN,NaN,3,NaN,22.2,2316.0,NaN,NaN,train,37,2853,1618,14.2,1030
8755,5,2:03:30 PM,5,5,1:52:28 PM,5,-1.325710,36.805533,6,Order_No_38,Personal,5,2:50:49 PM,5,-1.300405,36.835626,NaN,NaN,NaN,1,NaN,26.5,734.0,NaN,NaN,train,38,3333,892,14.2,505
22714,30,1:44:15 PM,4,30,1:43:40 PM,4,-1.331619,36.847976,13,Order_No_39,Business,30,2:04:51 PM,4,-1.259478,36.801781,30.0,1:43:25 PM,4.0,3,NaN,NaN,NaN,User_Id_1341,Bike,test,39,2684,788,14.2,343
21981,25,12:02:48 PM,1,25,11:51:47 AM,1,-1.300406,36.829741,4,Order_No_40,Business,25,12:15:11 PM,1,-1.307787,36.844321,25.0,11:51:25 AM,1.0,3,NaN,25.5,NaN,User_Id_53,Bike,test,40,913,354,13.6,89
20604,11,5:42:37 PM,3,11,5:33:41 PM,3,-1.269352,36.797399,6,Order_No_41,Personal,11,5:49:25 PM,3,-1.288440,36.773675,NaN,NaN,NaN,2,NaN,19.9,1148.0,NaN,NaN,train,41,4671,941,14.1,973
16440,28,3:54:00 PM,2,28,3:36:01 PM,2,-1.228911,36.881876,9,Order_No_42,Business,28,3:56:59 PM,2,-1.265715,36.823815,NaN,NaN,NaN,3,NaN,23.4,1057.0,NaN,NaN,train,42,333,286,13.7,46
1672,29,10:25:21 AM,2,29,10:12:02 AM,2,-1.296797,36.776453,12,Order_No_43,Business,29,10:48:06 AM,2,-1.310897,36.834054,NaN,NaN,NaN,3,NaN,21.6,1340.0,NaN,NaN,train,43,721,984,13.8,161
18155,5,9:58:33 AM,3,5,9:52:40 AM,3,-1.255189,36.782203,3,Order_No_44,Business,5,10:04:17 AM,3,-1.264960,36.798178,NaN,NaN,NaN,3,NaN,18.3,1027.0,NaN,NaN,train,44,235,740,13.5,24
1810,23,4:35:53 PM,5,23,3:51:05 PM,5,-1.291547,36.774696,20,Order_No_45,Business,23,4:52:36 PM,5,-1.324488,36.897792,NaN,NaN,NaN,3,NaN,24.5,2645.0,NaN,NaN,train,45,586,856,13.1,98
250,9,1:18:00 PM,1,9,1:06:45 PM,1,-1.273650,36.806191,7,Order_No_46,Business,9,1:19:59 PM,1,-1.298599,36.780912,NaN,NaN,NaN,3,NaN,20.5,930.0,NaN,NaN,train,46,390,986,14.0,142
20388,7,9:30:19 AM,2,7,9:20:56 AM,2,-1.277071,36.823109,5,Order_No_47,Business,7,10:12:34 AM,2,-1.300406,36.829741,NaN,NaN,NaN,3,NaN,16.7,1039.0,NaN,NaN,train,47,779,873,14.2,89
10894,16,12:07:24 PM,4,16,11:50:26 AM,4,-1.255189,36.782203,9,Order_No_48,Business,16,12:13:20 PM,4,-1.301217,36.809399,NaN,NaN,NaN,3,NaN,NaN,1238.0,NaN,NaN,train,48,679,183,13.5,61
22449,30,5:26:23 PM,2,30,5:18:22 PM,2,-1.232492,36.836378,11,Order_No_49,Business,30,5:28:54 PM,2,-1.264532,36.798178,30.0,4:54:53 PM,2.0,3,NaN,NaN,NaN,User_Id_2330,Bike,test,49,4365,1457,13.9,1222

#### CONVERT DATETIME COLUMNS

In [19]:
df = convert_dt(df,dt_cols)

### CREATE FEATURES

#### Delay in arrival

In [20]:
df['delay_in_pickup'] = (df['Arrival at Pickup - Time'] - df['Confirmation - Time']).dt.total_seconds()

#### Unrated riders

In [21]:
df['unrated'] = df['No_Of_Orders'] - df['No_of_Ratings']

#### Drop redundant columns

In [22]:
drop_a = ['Arrival at Pickup - Time','Arrival at Pickup - Day of Month','Arrival at Pickup - Weekday (Mo = 1)'
          ,'Confirmation - Time','Confirmation - Day of Month','Confirmation - Weekday (Mo = 1)','Placement - Day of Month',
       'Placement - Time', 'Placement - Weekday (Mo = 1)','User Id','Order No']

In [23]:
df = df.drop(drop_a,axis=1)

In [24]:
df.columns

Index(['Destination Lat', 'Destination Long', 'Distance (KM)',
       'Personal or Business', 'Pickup - Day of Month', 'Pickup - Time',
       'Pickup - Weekday (Mo = 1)', 'Pickup Lat', 'Pickup Long',
       'Platform Type', 'Precipitation in millimeters', 'Temperature',
       'Time from Pickup to Arrival', 'Vehicle Type', 'col_type', 'orders',
       'No_Of_Orders', 'Age', 'Average_Rating', 'No_of_Ratings',
       'delay_in_pickup', 'unrated'],
      dtype='object')

#### Dealing with missing values

In [25]:
df['Temperature'] = df['Temperature'].fillna(df['Temperature'].mean())

In [26]:
df['Precipitation in millimeters'].fillna(0,inplace=True)

In [27]:
df.head()

,Destination Lat,Destination Long,Distance (KM),Personal or Business,Pickup - Day of Month,Pickup - Time,Pickup - Weekday (Mo = 1),Pickup Lat,Pickup Long,Platform Type,...,Time from Pickup to Arrival,Vehicle Type,col_type,orders,No_Of_Orders,Age,Average_Rating,No_of_Ratings,delay_in_pickup,unrated
21987,-1.316539,36.706856,8,Business,26,2019-11-05 14:20:40,2,-1.301908,36.759282,3,...,NaN,Bike,test,0,292,349,15.0,39,1355.0,253
6831,-1.265971,36.766806,4,Personal,9,2019-11-05 12:20:43,2,-1.274173,36.796911,1,...,729.0,NaN,train,1,1043,771,14.1,76,162.0,967
720,-1.388201,36.769945,16,Business,18,2019-11-05 10:51:52,4,-1.300921,36.828195,3,...,1923.0,NaN,train,2,4671,941,14.1,973,158.0,3698
18360,-1.283333,36.826008,4,Business,29,2019-11-05 15:53:37,3,-1.260234,36.799055,3,...,2186.0,NaN,train,3,3427,2385,14.2,1010,2126.0,2417
694,-1.285565,36.824483,5,Personal,12,2019-11-05 15:52:51,2,-1.301607,36.840449,3,...,1688.0,NaN,train,4,34,291,15.0,5,1173.0,29

#### Longitudes and Latitudes

#### CREATE CLASSIFIER FOR IDENTIFYING OUTLIERS

In [30]:
df.columns

Index(['Destination Lat', 'Destination Long', 'Distance (KM)',
       'Personal or Business', 'Pickup - Day of Month', 'Pickup - Time',
       'Pickup - Weekday (Mo = 1)', 'Pickup Lat', 'Pickup Long',
       'Platform Type', 'Precipitation in millimeters', 'Temperature',
       'Time from Pickup to Arrival', 'Vehicle Type', 'col_type', 'orders',
       'No_Of_Orders', 'Age', 'Average_Rating', 'No_of_Ratings',
       'delay_in_pickup', 'unrated'],
      dtype='object')

In [ ]:
drop_col = ['Personal or Business','col_type','Platform Type']

In [28]:
classifer_train = df[df['col_type'] == 'train']

In [ ]:
drop_col = ['Personal or Business','col_type','Platform Type']