In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [76]:
df_riders = pd.read_csv('data/Riders.csv')
df_sample_submission = pd.read_csv('data/SampleSubmission.csv')
df_test = pd.read_csv('data/Test.csv')
df_train = pd.read_csv('data/Train.csv')
df_variable_definitions = pd.read_csv('data/VariableDefinitions.csv')

In [85]:
df_variable_definitions

,Order No,Unique number identifying the order
0,User Id,Unique number identifying the customer on a pl...
1,Vehicle Type,"For this competition limited to bikes, however..."
2,Platform Type,"Platform used to place the order, there are 4 ..."
3,Personal or Business,Customer type
4,Placement - Day of Month,Placement - Day of Month i.e 1-31
5,Placement - Weekday (Mo = 1),Placement - Weekday (Monday = 1)
6,Placement - Time,Placement - Time - Time of day the order was p...
7,Confirmation - Day of Month,Confirmation - Day of Month i.e 1-31
8,Confirmation - Weekday (Mo = 1),Confirmation - Weekday (Monday = 1)
9,Confirmation - Time,Confirmation - Time - Time of day the order wa...
10,Arrival at Pickup - Day of Month,Arrival at Pickup - Day of Month i.e 1-31
11,Arrival at Pickup - Weekday (Mo = 1),Arrival at Pickup - Weekday (Monday = 1)
12,Arrival at Pickup - Time,Time of day the the rider arrived at the locat...
13,Pickup - Day of Month,Pickup - Day of Month i.e 1-31
14,Pickup - Weekday (Mo = 1),Pickup - Weekday (Monday = 1)
15,Pickup - Time,Pickup - Time - Time of day the the rider pick...
16,Arrival at Destination - Day of Month,Arrival at Delivery - Day of Month i.e 1-31
17,Arrival at Destination - Weekday (Mo = 1),Arrival at Delivery - Weekday (Monday = 1)
18,Arrival at Destination - Time,Arrival at Delivery Time - Time of day the rid...
19,Distance (KM),The distance from Pickup to Destination
20,Temperature,Temperature at the time of order placement in ...
21,Precipitation in millimeters,Precipitation at the time of order placement ...
22,Pickup Lat,Latitude of pick up location
23,Pickup Long,Longitude of pick up location
24,Destination Lat,Latitude of delivery location
25,Destination Long,Longitude of delivery location
26,Rider Id,ID of the Rider who accepted the order
27,Time from Pickup to Arrival,Time in seconds between 'Pickup' and 'Arrival ...
28,NaN,NaN
29,Rider Metrics,NaN
30,Rider Id,Unique number identifying the rider (same as i...
31,No_Of_Orders,Number of Orders the rider has delivered
32,Age,Number of days since the rider delivered the f...
33,Average_Rating,Average rating of the rider
34,No_of_Ratings,Number of ratings the rider has received. Rat...

#### UTILS

In [104]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

In [78]:
df_riders.head(2)

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176

In [79]:
df_train.head(2)

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993

In [81]:
df_train.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Arrival at Destination - Day of Month',
       'Arrival at Destination - Weekday (Mo = 1)',
       'Arrival at Destination - Time', 'Distance (KM)', 'Temperature',
       'Precipitation in millimeters', 'Pickup Lat', 'Pickup Long',
       'Destination Lat', 'Destination Long', 'Rider Id',
       'Time from Pickup to Arrival'],
      dtype='object')

In [80]:
df_train.shape

(21201, 29)

#### Is target calculation correct?

In [82]:
df_train.dtypes

Order No                                      object
User Id                                       object
Vehicle Type                                  object
Platform Type                                  int64
Personal or Business                          object
Placement - Day of Month                       int64
Placement - Weekday (Mo = 1)                   int64
Placement - Time                              object
Confirmation - Day of Month                    int64
Confirmation - Weekday (Mo = 1)                int64
Confirmation - Time                           object
Arrival at Pickup - Day of Month               int64
Arrival at Pickup - Weekday (Mo = 1)           int64
Arrival at Pickup - Time                      object
Pickup - Day of Month                          int64
Pickup - Weekday (Mo = 1)                      int64
Pickup - Time                                 object
Arrival at Destination - Day of Month          int64
Arrival at Destination - Weekday (Mo = 1)      int64
Arrival at Destination - Time                 object
Distance (KM)                                  int64
Temperature                                  float64
Precipitation in millimeters                 float64
Pickup Lat                                   float64
Pickup Long                                  float64
Destination Lat                              float64
Destination Long                             float64
Rider Id                                      object
Time from Pickup to Arrival                    int64
dtype: object

In [86]:
def convert_dt(df,cols):
    for i in cols:
        df[i] = pd.to_datetime(df[i])
    return df

In [95]:
df = convert_dt(df_train,["Arrival at Destination - Time","Arrival at Pickup - Time","Pickup - Time"])

In [96]:
df_train["target"] = (df_train["Arrival at Destination - Time"] - df_train["Arrival at Pickup - Time"]).astype('timedelta64[s]')

In [97]:
df_train["target_1"] = (df_train["Arrival at Destination - Time"] - df_train["Pickup - Time"]).astype('timedelta64[s]')

In [98]:
df_train.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival,target,target_1
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745,2108.0,745.0
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993,2220.0,1993.0
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455,664.0,455.0
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341,1651.0,1341.0
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214,1304.0,1214.0

In [99]:
df_train['compare'] = np.where(df_train['Time from Pickup to Arrival'] == df['target_1'], 'no change', 'changed')

In [101]:
df_train.compare.unique()

array(['no change'], dtype=object)

In [53]:
df_test.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Distance (KM)', 'Temperature', 'Precipitation in millimeters',
       'Pickup Lat', 'Pickup Long', 'Destination Lat', 'Destination Long',
       'Rider Id'],
      dtype='object')

In [54]:
len(df_test.columns)

25

In [55]:
len(df_train.columns)

29

In [56]:
set(df_train.columns) - set(df_test.columns)

{'Arrival at Destination - Day of Month',
 'Arrival at Destination - Time',
 'Arrival at Destination - Weekday (Mo = 1)',
 'Time from Pickup to Arrival'}

In [57]:
cols_not_in_test = list(set(df_train.columns) - set(df_test.columns))

In [58]:
cols_not_in_test

['Arrival at Destination - Time',
 'Time from Pickup to Arrival',
 'Arrival at Destination - Weekday (Mo = 1)',
 'Arrival at Destination - Day of Month']

In [59]:
df_sample_submission.head()

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                        567.0
1  Order_No_12736                       4903.0
2    Order_No_768                       5649.0
3  Order_No_15332                          NaN
4  Order_No_21373                          NaN

#### Join Append test to train

In [60]:
df_train['type'] = 'train'
df_test['type'] = 'test'

In [61]:
dropped_cols = ['Arrival at Destination - Time',
 'Arrival at Destination - Weekday (Mo = 1)',
 'Arrival at Destination - Day of Month']

In [62]:
df_train = df_train.drop(dropped_cols,axis=1)

In [63]:
df_train.shape,df_test.shape

((21201, 27), (7068, 26))

In [64]:
21201 + 7068

28269

In [65]:
df_train_test = pd.concat([df_train, df_test], ignore_index=True);

/Users/socrates/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [66]:
df_train_test.shape

(28269, 27)

#### Join on riders details

In [67]:
df_train_test['Rider Id'].dtype,df_riders['Rider Id'].dtype

(dtype('O'), dtype('O'))

In [68]:
df = df_train_test.merge(df_riders,on='Rider Id',how='left')

In [69]:
df.shape

(28269, 31)

In [70]:
df_train_test.columns

Index(['Arrival at Pickup - Day of Month', 'Arrival at Pickup - Time',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Confirmation - Day of Month',
       'Confirmation - Time', 'Confirmation - Weekday (Mo = 1)',
       'Destination Lat', 'Destination Long', 'Distance (KM)', 'Order No',
       'Personal or Business', 'Pickup - Day of Month', 'Pickup - Time',
       'Pickup - Weekday (Mo = 1)', 'Pickup Lat', 'Pickup Long',
       'Placement - Day of Month', 'Placement - Time',
       'Placement - Weekday (Mo = 1)', 'Platform Type',
       'Precipitation in millimeters', 'Rider Id', 'Temperature',
       'Time from Pickup to Arrival', 'User Id', 'Vehicle Type', 'type'],
      dtype='object')

### Columns Analysis

In [71]:
cols_not_in_test

['Arrival at Destination - Time',
 'Time from Pickup to Arrival',
 'Arrival at Destination - Weekday (Mo = 1)',
 'Arrival at Destination - Day of Month']

In [72]:
df.columns

Index(['Arrival at Pickup - Day of Month', 'Arrival at Pickup - Time',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Confirmation - Day of Month',
       'Confirmation - Time', 'Confirmation - Weekday (Mo = 1)',
       'Destination Lat', 'Destination Long', 'Distance (KM)', 'Order No',
       'Personal or Business', 'Pickup - Day of Month', 'Pickup - Time',
       'Pickup - Weekday (Mo = 1)', 'Pickup Lat', 'Pickup Long',
       'Placement - Day of Month', 'Placement - Time',
       'Placement - Weekday (Mo = 1)', 'Platform Type',
       'Precipitation in millimeters', 'Rider Id', 'Temperature',
       'Time from Pickup to Arrival', 'User Id', 'Vehicle Type', 'type',
       'No_Of_Orders', 'Age', 'Average_Rating', 'No_of_Ratings'],
      dtype='object')

In [73]:
set(df_train.columns) - set(df_test.columns)

{'Time from Pickup to Arrival'}

In [74]:
df.shape

(28269, 31)

In [75]:
df.head()

,Arrival at Pickup - Day of Month,Arrival at Pickup - Time,Arrival at Pickup - Weekday (Mo = 1),Confirmation - Day of Month,Confirmation - Time,Confirmation - Weekday (Mo = 1),Destination Lat,Destination Long,Distance (KM),Order No,...,Rider Id,Temperature,Time from Pickup to Arrival,User Id,Vehicle Type,type,No_Of_Orders,Age,Average_Rating,No_of_Ratings
0,9,10:04:47 AM,5,9,9:40:10 AM,5,-1.300406,36.829741,4,Order_No_4211,...,Rider_Id_432,20.4,745.0,User_Id_633,Bike,train,1637,1309,13.8,549
1,12,11:40:22 AM,5,12,11:23:21 AM,5,-1.295004,36.814358,16,Order_No_25375,...,Rider_Id_856,26.4,1993.0,User_Id_2285,Bike,train,396,339,13.6,69
2,30,12:49:34 PM,2,30,12:42:44 PM,2,-1.300921,36.828195,3,Order_No_1899,...,Rider_Id_155,NaN,455.0,User_Id_265,Bike,train,1023,242,12.5,114
3,15,9:37:56 AM,5,15,9:26:05 AM,5,-1.257147,36.795063,9,Order_No_9336,...,Rider_Id_855,19.2,1341.0,User_Id_1402,Bike,train,886,283,14.5,113
4,13,10:03:53 AM,1,13,9:56:18 AM,1,-1.295041,36.809817,9,Order_No_27883,...,Rider_Id_770,15.4,1214.0,User_Id_1737,Bike,train,2311,872,14.1,533

####  Create Features

1. How long did it spend before it was picked up?(wait_time)
2. What is the time of day of pick up(groupby the hour and check consistency)
3. How many orders from were placed on that day?
4. Average speed of rider?
5. Is Holiday?
6. Is raining at pickup?
7. Is raining at destination?
8. Any outliers?

In [103]:
df['wait_time'] = (df["Pickup - Time"] - df["Arrival at Pickup - Time"]).astype('timedelta64[s]')

In [105]:
df = display_all(df)

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Confirmation - Time,Arrival at Pickup - Day of Month,Arrival at Pickup - Weekday (Mo = 1),Arrival at Pickup - Time,Pickup - Day of Month,Pickup - Weekday (Mo = 1),Pickup - Time,Arrival at Destination - Day of Month,Arrival at Destination - Weekday (Mo = 1),Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival,target,target_1,compare,wait_time
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,9:40:10 AM,9,5,2019-10-26 10:04:47,9,5,2019-10-26 10:27:30,9,5,2019-10-26 10:39:55,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745,2108.0,745.0,no change,1363.0
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,11:23:21 AM,12,5,2019-10-26 11:40:22,12,5,2019-10-26 11:44:09,12,5,2019-10-26 12:17:22,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993,2220.0,1993.0,no change,227.0
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,12:42:44 PM,30,2,2019-10-26 12:49:34,30,2,2019-10-26 12:53:03,30,2,2019-10-26 13:00:38,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455,664.0,455.0,no change,209.0
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,9:26:05 AM,15,5,2019-10-26 09:37:56,15,5,2019-10-26 09:43:06,15,5,2019-10-26 10:05:27,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341,1651.0,1341.0,no change,310.0
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,9:56:18 AM,13,1,2019-10-26 10:03:53,13,1,2019-10-26 10:05:23,13,1,2019-10-26 10:25:37,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214,1304.0,1214.0,no change,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21196,Order_No_8834,User_Id_2001,Bike,3,Personal,20,3,3:54:38 PM,20,3,3:55:09 PM,20,3,2019-10-26 15:58:49,20,3,2019-10-26 16:20:08,20,3,2019-10-26 16:20:17,3,28.6,NaN,-1.258414,36.804800,-1.275285,36.802702,Rider_Id_953,9,1288.0,9.0,no change,1279.0
21197,Order_No_22892,User_Id_1796,Bike,3,Business,13,6,10:13:34 AM,13,6,10:13:41 AM,13,6,2019-10-26 10:20:04,13,6,2019-10-26 10:33:27,13,6,2019-10-26 10:46:17,7,26.0,NaN,-1.307143,36.825009,-1.331619,36.847976,Rider_Id_155,770,1573.0,770.0,no change,803.0
21198,Order_No_2831,User_Id_2956,Bike,3,Business,7,4,5:06:16 PM,7,4,5:07:09 PM,7,4,2019-10-26 17:30:17,7,4,2019-10-26 17:50:52,7,4,2019-10-26 18:40:05,20,29.2,NaN,-1.286018,36.897534,-1.258414,36.804800,Rider_Id_697,2953,4188.0,2953.0,no change,1235.0
21199,Order_No_6174,User_Id_2524,Bike,1,Personal,4,3,9:31:39 AM,4,3,9:31:53 AM,4,3,2019-10-26 09:38:59,4,3,2019-10-26 09:45:15,4,3,2019-10-26 10:08:15,13,15.0,NaN,-1.250030,36.874167,-1.279209,36.794872,Rider_Id_347,1380,1756.0,1380.0,no change,376.0
21200,Order_No_9836,User_Id_718,Bike,3,Business,26,2,2:19:47 PM,26,2,2:20:01 PM,26,2,2019-10-26 14:24:29,26,2,2019-10-26 14:41:55,26,2,2019-10-26 15:17:23,12,30.9,NaN,-1.255189,36.782203,-1.320157,36.830887,Rider_Id_177,2128,3174.0,2128.0,no change,1046.0